/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.25;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: Noto Sans;
}
.bordered {
  border-bottom: 1px solid black;
}
.flex-box {
  display: flex;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: #9591AF;
  font-family: Noto Sans;
}
@media (max-width: 500px) {
  nav a {
    font-size: 0.9rem;
  }
}
a:hover {
  background: pink;
  border-radius: 5px;
}
.container {
  margin: 20px;
}
.heading {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.heading h1 {
  font-size: 2.5rem;
  line-height: 3;
  font-family: Noto Sans;
  width: 100%;
  letter-spacing: 1.25rem;
  color: #9591AF;
}
@media (max-width: 800px) {
  .heading h1 {
    letter-spacing: 0.55rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .heading h1 {
    letter-spacing: 0.5rem;
    font-size: 1.35rem;
  }
}
.heading .border {
  margin: 0 auto;
  width: 75%;
  border: 0.5px solid #b9b9df73;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .heading .border {
    width: 70%;
  }
}
.heading h2 {
  font-family: Calibri;
  font-size: 1.65rem;
  line-height: 4;
  color: #91AFA5;
  letter-spacing: 0.25rem;
}
@media (max-width: 800px) {
  .heading h2 {
    letter-spacing: 0.22rem;
    line-height: 4;
    font-size: 1.25rem;
  }
}
@media (max-width: 500px) {
  .heading h2 {
    letter-spacing: 0.22rem;
    line-height: 5;
    font-size: 1.1rem;
  }
}
.heading .table {
  display: table;
  margin: 0 auto;
}
.heading #horizontal-list {
  display: inline;
  font-family: Calibri;
  font-size: 0.75rem;
  color: #91AFA5;
  letter-spacing: 0.1rem;
  list-style: none;
}
@media (max-width: 800px) {
  .heading #horizontal-list {
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 500px) {
  .heading #horizontal-list {
    letter-spacing: 0.1rem;
    font-size: 0.4rem;
  }
}
.heading #horizontal-list li {
  display: inline;
}
.heading li::before {
  content: "•";
  color: #c6e9dd;
  display: inline-block;
  width: 1rem;
}
.heading .border-2 {
  margin: 20px auto;
  width: 80%;
  border: 2px solid #cae7eb77;
  border-radius: 10px;
}
@media (max-width: 800px) {
  .heading .border-2 {
    width: 80%;
  }
}
.intro {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}
.intro h3 {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-family: Calibri;
  font-size: 1.67rem;
  line-height: 3;
  color: black;
  letter-spacing: 0.12rem;
}
@media (max-width: 800px) {
  .intro h3 {
    letter-spacing: 0.1rem;
    line-height: 3;
    font-size: 1.38rem;
  }
}
@media (max-width: 500px) {
  .intro h3 {
    letter-spacing: 0.1rem;
    line-height: 3;
    font-size: 1.29rem;
  }
}
.intro p {
  font-family: Noto Sans;
  font-size: 0.75rem;
  line-height: 2;
  color: #585555;
  letter-spacing: rem;
}
.main-content {
  width: 100%;
  display: flex;
}
@media (max-width: 500px) {
  .main-content {
    display: block;
    margin: 0 auto;
  }
}
.main-content .left-content {
  width: 70%;
  margin: 0 20px 0 30px;
}
@media (max-width: 500px) {
  .main-content .left-content {
    width: 100%;
    margin: 0 auto;
  }
}
.main-content .right-content {
  width: 30%;
  margin: 0 0px 0 40px;
}
@media (max-width: 500px) {
  .main-content .right-content {
    width: 100%;
    margin: 0 auto;
  }
}
.main-content h4 {
  border-bottom: 1px solid black;
  font-weight: bold;
  font-family: Calibri;
  font-size: 1.5rem;
  line-height: 3;
  color: black;
  letter-spacing: 0.1rem;
}
@media (max-width: 800px) {
  .main-content h4 {
    letter-spacing: 0.1rem;
    line-height: 3;
    font-size: 1.25rem;
  }
}
@media (max-width: 500px) {
  .main-content h4 {
    letter-spacing: 0.1rem;
    line-height: 3;
    font-size: 1.1rem;
  }
}
.main-content h5 {
  font-weight: bold;
  font-family: Calibri;
  font-size: 1.1rem;
  line-height: 2;
  color: black;
  letter-spacing: 0.05rem;
}
.main-content h6 {
  font-weight: bold;
  font-style: italic;
  font-family: Calibri;
  font-size: 0.95rem;
  line-height: 2;
  color: black;
  letter-spacing: rem;
}
.main-content address {
  font-family: Noto Sans;
  font-size: 0.75rem;
  line-height: 2;
  color: #585555;
  letter-spacing: rem;
}
.main-content p {
  font-family: Noto Sans;
  font-size: 0.75rem;
  line-height: 2;
  color: #585555;
  letter-spacing: rem;
}
.main-content p a,
.main-content address a {
  text-decoration: none;
  color: #9591AF;
}
